<div class="mb-3">
    <label for="fname" class="form-label">First name: </label>
    <input type="text" class="form-control" id="fname" value="<%- user.user_fname %>" readonly>
</div>

<div class="mb-3">
    <label for="lname" class="form-label">Last name: </label>
    <input type="text" class="form-control" id="lname" value="<%- user.user_lname %>" readonly>
</div>

<div class="mb-3">
    <label for="actype" class="form-label">Account type: </label>
    <input type="text" class="form-control" id="actype" value="<%- user.user_type %>" readonly>
</div>

<div class="mb-3">
    <label for="actype" class="form-label">Account type: </label>
    <input type="text" class="form-control" id="actype" value="<%- user.birthdate.toISOString().split('T')[0] %>"
        readonly>
</div>

<div class="mb-3">
    <label for="address" class="form-label">Address: </label>
    <input type="text" class="form-control" id="address" value="<%- user.permanent_address %>" readonly>
</div>

<div class="mb-3">
    <figure>
        <embed src="/uploads/credentials/<%- user.credential %>" type="application/pdf" width="100%"
            height="600px" />
        <figcaption>Credentials</figcaption>
    </figure>
</div>
