<form action="/form/consultation" method="POST" enctype="multipart/form-data">
    <section id="consult-form">
        <!-- ACCORDION FOR CONSULTATION FORM -->
        <div class="accordion" id="accordionForm">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Consultation Form
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                    data-bs-parent="#accordionForm">
                    <div class="accordion-body">
                        <!-- CONSULT FORM -->
                        <h1>Consult Form</h1>
                        <hr>
                        <div class="mb-3">
                            <label for="legal_title" class="form-label">Pamagat ng legal na problema</label>
                            <input name="legal_title" type="text" class="form-control" id="legal_title"
                                placeholder="Ano ang kabuuhang ideya ng problema">
                        </div>
                        <div class="mb-3">
                            <label for="case_facts" class="form-label">Kwento/Detalye
                                ng Legal na Problema</label>
                            <textarea name="case_facts" class="form-control" class="form-control" id="case_facts"
                                rows="3"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="adverse_party" class="form-label">Kalabang Partido</label>
                            <input name="adverse_party" type="text" class="form-control" id="adverse_party"
                                placeholder="Ilagay ang TBD kung hindi sure">
                        </div>
                        <div class="mb-3">
                            <label for="case_objectives" class="form-label">Mga layunin na
                                gustong makamit sa legal na problema</label>
                            <textarea name="case_objectives" class="form-control" class="form-control"
                                id="case_objectives" rows="3"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="client_questions" class="form-label">Mga
                                katanungan sa abogado</label>
                            <textarea name="client_questions" class="form-control" class="form-control"
                                id="client_questions" rows="3"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="case_file" class="form-label">Mga dokumentong
                                makakatulong sa legal na problema</label>
                            <input name="case_file" class="form-control" type="file" id="case_file"
                                accept="application/pdf">
                        </div>
                        <input name="case_status" type="text" value="pending" hidden>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Available Lawyers
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                    data-bs-parent="#accordionForm">
                    <div class="accordion-body">
                        <!-- Available Lawyers List -->
                        <div class="card">
                            <div class="card-body">
                                <table class="table table-striped" style="overflow-y:auto;">
                                    <% if (!(Object.keys(result).length===0)) { %>
                                        <h4>Choose one from the available lawyers</h4>
                                        <% result.forEach((lawyer)=> { %>

                                            <% if (lawyer.user_type=="lawyer" && lawyer.is_available) { %>
                                                <tr>
                                                    <td width="20">
                                                        <img src="uploads/avatar/<%- lawyer.avatar %>"
                                                            style="display: table-cell;">
                                                    </td>
                                                    <td width="70%">
                                                        <a href="/users/<%- lawyer._id %> ">
                                                            <%- lawyer.user_fname %>
                                                                <%- lawyer.user_lname %>
                                                        </a>

                                                    </td>
                                                    <td width="10%" vertical="centered" vertical>
                                                        <input class="form-check-input big" type="radio"
                                                            name="lawyer_id" value="<%-lawyer._id%>"
                                                            id="flexRadioDefault1">
                                                    </td>
                                                </tr>
                                                <% } %>
                                                    <% }) %>
                                                        <% } else { %>
                                                            <h4>No available lawyers at the moment</h4>
                                                            <% } %>
                                </table>
                            </div>
                        </div>
                        <div class="text-center mt-3">
                            <button type="submit" class="btn btn-primary">Submit
                                Complaint</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>