<div class="container bg-white">
    <div class="row">
        <!-- Modal -->
        <form action="/advice" method="POST">
            <div class="modal fade" id="newDiscussion" tabindex="-1" aria-labelledby="newDiscussionLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="newDiscussionLabel">New Discussion</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="form-floating mb-3">
                                <input name="legal_title" type="text" class="form-control" id="legal_title"
                                    placeholder="Legal Title">
                                <label for="legal_title">Legal Title</label>
                            </div>
                            <div class="form-floating">
                                <textarea name="legal_description" class="form-control" rows="20"
                                    placeholder="Leave a comment here" id="legal_description"
                                    style="height: 200px;"></textarea>
                                <label for="legal_description">Comments</label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Post</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <div class="reset-parent">
            <!-- FORUM HEADER -->
            <div class="d-flex justify-content-between align-items-center border">
                <div class="input-group m-3" style="width: 18rem;">
                    <input id="search_text" type="text" class="form-control" placeholder="" aria-label="Example text with button addon" aria-describedby="search_query">
                    <a class="btn btn-outline-secondary" id="search_query">Search</a>
                    <a href="/advice" class="btn btn-outline-secondary">Clear</a>
                </div>

                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary me-3" data-bs-toggle="modal"
                    data-bs-target="#newDiscussion">
                    New Discussion
                </button>
            </div>
            <!-- FORUM BODY -->
            <div class="bg-light forum-body border">
                <div class="m-3" style="max-height: 100%;">
                    <h5>Discussions</h5>
                    <hr>
                    <% advices.forEach(advice => { %>
                    <a href="/advice/<%- advice._id %>">
                        <div class="card m-3">
                            <div class="card-body">
                                <%- advice.legal_title %> <%- advice.is_resolved ? "[CLOSED]" : "" %> 
                                <span
                                    class="text-muted d-inline-flex align-items-center align-middle ml-4 float-end"><span
                                        class="align-middle"><%- advice.date_submitted.toLocaleString('en-US') %></span></span>
                            </div>
                        </div>
                    </a>
                    <% }) %>
                </div>


            </div>
            <!-- PAGINATION -->
            <%- include ("./partials/pagination") %>
        </div>
    </div>
</div>

<script>
    $('#search_text').keyup(() => {
        value = $("#search_text").val()
        $("#search_query").attr('href', "/advice?filter="+value) 
    })
</script>