<div class="container bg-white">
    <div class="row">
        <!-- Modal -->
        <form action="/advice" method="POST">
            <div class="modal fade" id="newDiscussion" tabindex="-1" aria-labelledby="newDiscussionLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="newDiscussionLabel">New Discussion</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="form-floating mb-3">
                                <input name="legal_title" type="text" class="form-control" id="legal_title"
                                    placeholder="Legal Title">
                                <label for="legal_title">Legal Title</label>
                            </div>
                            <div class="form-floating">
                                <textarea name="legal_description" class="form-control" rows="20"
                                    placeholder="Leave a comment here" id="legal_description"
                                    style="height: 200px;"></textarea>
                                <label for="legal_description">Comments</label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Post</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <div class="reset-parent">
            <!-- FORUM HEADER -->
            <div class="d-flex justify-content-between align-items-center border">
                <div class="input-group m-3" style="width: 18rem;">
                    <input id="search_text" type="text" class="form-control" placeholder="" aria-label="Example text with button addon" aria-describedby="search_query">
                    <a class="btn btn-outline-secondary" id="search_query">Search</a>
                    <a href="/advice" class="btn btn-outline-secondary">Clear</a>
                </div>

                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary me-3" data-bs-toggle="modal"
                    data-bs-target="#newDiscussion">
                    New Discussion
                </button>
            </div>
            <!-- FORUM BODY -->
            <div class="bg-light forum-body border">
                <div class="m-3" style="max-height: 100%;">
                    <h5>Discussions</h5>
                    <hr>

                    <div class="list-group m-3">
                        <% advices.forEach(advice => { %>
                            <a href="/advice/<%- advice._id %>" class="list-group-item list-group-item-action d-flex gap-3 py-3 mb-3" aria-current="true">
                                <img src="/assets/images/company-logo2.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
                                <div class="d-flex gap-2 w-100 justify-content-between">
                                  <div>
                                    <h6 class="mb-0"><%- advice.legal_title %> <%- advice.is_resolved ? "[CLOSED]" : "" %> </h6>
                                    <p class="mb-0 opacity-75"><%- advice.legal_description.slice(0, 20)+"..." %> </p>
                                  </div>
                                  <small class="opacity-50 text-nowrap"><%- advice.date_submitted.toLocaleString('en-US') %></small>
                                </div>
                              </a>
                        <% }) %>
                    </div>

                </div>


            </div>
        </div>
    </div>
</div>

<script>
    $('#search_text').keyup(() => {
        value = $("#search_text").val()
        $("#search_query").attr('href', "/advice?filter="+value) 
    })
</script>