<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card">
            <div class="card-body container">
                <form action="/users/edit/<%- result._id %>?_method=PATCH" method="POST">
                    <h1>Profile Edit</h1>
                    <!-- FIRST AND LAST NAME -->
                    <h4 class="text-center">Personal Details
                    </h4>

                    <small>First name</small>
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon1"><i class="fa fa-user" aria-hidden="true"></i>
                        </span>
                        <input type="user_fname" id="user_fname" name="user_fname" class="form-control"
                            placeholder="First name" value="<%= result.user_fname %> " />
                    </div>
                    <small>Surname</small>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="fa fa-user" aria-hidden="true"></i>
                        </span>
                        <input type="user_lname" id="user_lname" name="user_lname" class="form-control"
                            placeholder="Last name" value="<%= result.user_lname %>" />
                    </div>
                    <!-- BIRTHDATE -->
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="fa fa-calendar"
                                aria-hidden="true"></i>
                        </span>
                        <input type="date" id="birthdate" name="birthdate" class="form-control"
                            value="<%= result.birthdate.toISOString().split('T')[0] %>" />
                    </div>
                    <!-- CONTACT NUMBER -->
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="fa fa-phone" aria-hidden="true"></i>
                        </span>
                        <input type="contact_number" id="contact_number" name="contact_number" class="form-control"
                            placeholder="Enter Contact number" value="<%= result.contact_number  %>" />
                    </div>
                    <!-- PERMANENT ADDRESS -->
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="fa fa-home" aria-hidden="true"></i>
                        </span>
                        <input type="permanent_address" id="permanent_address" name="permanent_address"
                            class="form-control" placeholder="Enter permanent address"
                            value="<%= result.permanent_address %>" />
                    </div>
                    <input name="user_type" value="<%- result.user_type %>" hidden>

                    <% if (result.user_type == "lawyer") { %>  
                    <% for( let index = 0; index < result.background.length; index++ ) { %>
                        
                    <% } %> 
                    <h4 class="text-center mb-3">Background
                    </h4>
                    <div class="row">
                        <div class="col-lg-12">
                            <div id="backgroundRow">
                                <% for( let index = 0; index < result.background.length; index++ ) { %>
                                    <div class="inputFormRow">
                                        <hr>
                                        <div class="col-12">
                                            <label for="organization" class="form-label">Organization</label>
                                            <input name="organization[]" type="text" class="form-control" id="organization"
                                                placeholder="Polytechnic University of the Philippines" value="<%- result.background[index].organization %>" required>
                                        </div>
                                        <div class="col-12">
                                            <label for="description" class="form-label">Description</label>
                                            <input name="description[]" type="text" class="form-control" id="description"
                                                placeholder="Bachelors of Degree" value="<%- result.background[index].description %>" required>
                                        </div>
                                            <button type="button" class="removeRow mt-3 mb-3 btn btn-danger">Remove</button>
                                    </div>                            
                                <% } %>
                            </div>
                            <button id="addRow" type="button" class="btn btn-info"><i class="fas fa-plus"></i> Add
                                Row</button>
                        </div>
                    </div>
                    <% } %>  


                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <a href="/users/<%- result._id %> " class="btn btn-secondary">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>