<div class="container mt-5">
    <div class="row">
        <div class="card">
            <div class="card-body">
                <div class="col">
                    <% if (result) { %>
                        <img src="/uploads/avatar/<%- result.avatar %>" class="img-thumbnail" alt="..." width="300"
                            height="128" />
                        <span style="position: absolute; left: 350px; top: 50px">
                            <h1>
                                <%- result.username %>'s profile
                            </h1>
                        </span>

                        <!-- FORM FOR UPLOADING PICTURE -->
                        <!-- <form action="/users/edit/pic/<%- //result._id %>?_method=PATCH" method="POST" enctype="multipart/form-data">
                                <div class="input-group" style="width: 300px;">
                                    <input name="avatar" type="file" class="form-control" id="profile_picture" aria-describedby="profile_picture" aria-label="Upload" accept="image/png, image/jpeg" required>
                                    <button class="btn btn-outline-secondary" type="submit" id="profile_picture">Upload</button>
                                  </div>                               
                            </form> -->
                    <% } %>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="mt-2">
                <%- include ("./partials/messages"); %>

            </div>

            <div class="card-body">
                <div class="col">
                    <table class="table table-borderless">
                        <div class="row">
                            <div class="col">
                                <h4>Personal Information</h4>
                            </div>
                            <div class="col">
                                <% if (isAuthenticated && param_id==user_id) { %>
                                    <a href="/users/edit/<%- result._id %>" class="btn btn-success">Edit Personal Information</a>
                                <% } %>
                            </div>


                        </div>
                        <hr>
                        <tr>
                            <td> First Name </td>
                            <td>
                                <%- result.user_fname %>
                            </td>
                        </tr>
                        <tr>
                            <td> Last Name </td>
                            <td>
                                <%- result.user_lname %>
                            </td>
                        </tr>
                        <tr>
                            <td> Birthdate </td>
                            <td>
                                <%- result.birthdate.toLocaleDateString() %>
                            </td>
                        </tr>
                        <tr>
                            <td> Full Address </td>
                            <td>
                                <%- result.permanent_address %>
                            </td>
                        </tr>
                        <tr>
                            <td> Contact Number </td>
                            <td>
                                <%- result.contact_number %>
                            </td>
                        </tr>
                    </table>

                    <% if (result.user_type=="lawyer" ) { %>
                        <!--PUT CREDENTIALS HERE -->
                        <% } %>

                </div>
            </div>
        </div>
    </div>
</div>